@import "../node_modules/vanilla-framework/scss/vanilla";
@include vanilla;

@import "structure";
@import "images";

.button--primary {
  margin-top: 20px;
  background: white;
  color: #333;
  &:hover {
    background: #E5E5E5;
  }
}

.padding-left {
  h2, p {
  padding-left: 20px;
  }
}

.map {
  height: 0;
  position: static;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.video-container {
  z-index: 2;
}

@media only screen and (max-width: 767px) {
  iframe {
    width: 100%;
  }
  .map {
    height: 370px;
  }
}
